<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <body>
        <ui:composition>
            
            <h1>SIKD</h1>
            <p align="justify">SIKD merupakan sistem penyampaian informasi keuangan daerah secara elektronik oleh Pemerintah Daerah kepada Pemerintah Pusat, sebagaimana diamanatkan dalam UU 33 Tahun 2004 tentang Perimbangan Keuangan antara Pemerintah Pusat dan Pemerintahan Daerah. Pada dasarnya SIKD merupakan pengembangan dari KOMANDAN SIKD yang telah ada saat ini. Namun, dengan adanya perundangan terkini seperti PP Nomor 71 Tahun 2010 tentang Standar Akuntansi Pemerintahan, PP No 45 Tahun 2013 tentang  Tata Cara Pelaksanaan Anggaran Pendapatan dan Belanja Negara, serta Permendagri No 64 Tahun 2013 tentang Penerapan Standar Akuntansi Pemerintahan Berbasis Akrual Pada Pemerintah Daerah. maka KOMANDAN SIKD perlu disempurnakan kembali.</p> 
            <p align="justify">Tujuan dari survey ini adalah untuk mendapatkan informasi sistem pengelolaan keuangan di daerah Saudara serta informasi pengembang (developer) sistem tersebut. Input Saudara dalam survey ini akan mempertajam fokus DJPK dalam membangun SIKD.</p>


        </ui:composition>
    </body>
</html>


