<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <body>
        <ui:composition>	
            <p align="right"><strong>Direktorat Jenderal Perimbangan Keuangan - Kementerian Keuangan</strong></p>
            <p align="right">Jl. DR. Wahidin No. I Gedung Radius Prawiro Lantai 9, Jakarta Pusat 10710<br />
Telepon. 021-3509442, Fax. 021-3509443, Email: info@djpk.depkeu.go.id</p>
        </ui:composition>
    </body>
</html>