<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>No. Urut</small></f:facet>
        <!--<h:outputText value="{row.namaAkun}" />-->
    </h:column>

    <h:column headerClass="text-center">
        <f:facet name="header"><small>Uraian</small></f:facet>
        <!--<h:outputText value="{row.strNilai}"/>-->
    </h:column>

    <h:column headerClass="text-center">
        <f:facet name="header"><small>Jumlah</small></f:facet>
        <!--<h:outputText value="{row.strNilaiPra}"/>-->
    </h:column> 
    <h:column headerClass="text-center">
        <f:facet name="header"><small>Dasar Hukum</small></f:facet>
        <!--<h:outputText value="{row.strNilaiPra}"/>-->
    </h:column> 

</ui:composition>

