body {
    font-size: 11px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    background: linear-gradient(#b6c5f5, white);    
}
#page{
    width: 90%;
    margin: 0 auto;
    /*padding: 10px 10px;*/
}
#header{
    width: 100%;
    height:200px;
    padding: 10px 10px;
    margin-bottom:0px;
    background-image: url("#{resource['images/header.png']}");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FFFFFF;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;    
}
#bottomheader {
    width: 100%;
    height:auto;
    padding: 5px 10px;
    /*padding: 0px;*/
    background-color: #4a62ac;
}
#prenavigation{
    width: 100%;
    height:auto;    
    padding: 5px 10px;
    background-color: #4a62ac;
}
#navigation{
    width: 100%;
    height:auto;    
    padding: 5px 10px;
    background-color: aliceblue;
}
#content{
    width: 100%;
    height:auto;
    margin-right:16px;
    margin-bottom:16px;
    padding: 10px 10px;
    background-color: #ffffff;
}
#topfooter{
    width: 100%;
    height:70px; 
    padding: 10px 10px;
    background-color: #4b69c7;
    color: #ffffff;
}

#footer{
    width: 100%;
    height:20px;
    padding: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    background-color: #4a62ac;
    color: #ffffff;
}