body {
    font-size: 11px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    background: linear-gradient(#b6c5f5, white);    
}
#page{
    width: 90%;
    margin: 0 auto;
    /*padding: 10px 10px;*/
}
#top {
    position: relative;    
    width: 100%;
    height:200px;
    padding: 10px 10px;
    margin-bottom:0px;
    background-image: url("#{resource['images/header.png']}");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FFFFFF;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px; 
}


#bottom {
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    /*background-color: #ece3a5;*/
    padding: 5px;
    width: 170px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 205px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
