* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 background-color: #EEF3FA;
}
#wrapper { 
 margin: 0 auto;
 width: 1022px;
}
#header {
 color: #333;
 width: 1020px;
 float: left;
 background-color: white;
 height: 60px;
 margin: 10px 0px 0px 0px;
}

#leftheader { 
 color: #333;
 border: 1px solid #D8D1D1;
 background:#F6F6F6;
 height: 60px;
 width: 215px;
 float: left;
 background-image: url("#{resource['images/sikdcore.png']}");
 background-size: 75%;
 background-repeat: no-repeat;
 background-position: center;
}

#centerheader { 
 color: #333;
 background:white;
 padding: 10px;
 height: 60px; 
 float: left;
 -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 780px ;
}

.navigation {
 float: left;
 width: 100%;
 color: #333;
 height: 45px;
 margin: 0px 0px 1px 0px; 
 background-color:white;  
 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(255, 255, 255, 0.5);
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(255, 255, 255, 0.5);
 
}
#navigation {
 float: left;
 width: 100%;
 color: #333;
 height: 29px;
 padding: 3px 0px 0px 0px;
 border: 1px solid #ccc;
 margin: 0px 0px 1px 0px; 
 background-color:#F3F2ED;  
 -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
 box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
 vertical-align: bottom;
 text-align: center;
}
.buttonSearch{
    float: left;    
    background-image: url("#{resource['images/search_2.png']}");    
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}
#leftcolumn { 
    /*position: relative;*/
 color: #333;
 border: 1px solid #ccc;
 background: white;
 padding: 10px;
 min-height: 350px;
 width: 195px;
 float: left;
}
#leftcenter { 
    position: relative;
 float: left;
 color: #333;
 border: 1px solid #ccc;
 background:white;
 margin: 10px 0px 5px 0px;
 /*height: 315px;*/
 width: 100%;
}
#rightcolumn { 
 float: left;
 color: #333;
 background:#F6F6F6;
 margin: 0px 0px 0px 0px;
 min-height: 350px;
 min-width: 800px;
 display: inline; 
}
#rightcenter {             
    position: relative;
 float: left;
 color: #333;
 /*border: 1px solid #ccc;*/
 padding: 0px 5px 0px 0px;
 background:#F6F6F6;
 margin: 10px;
 /*height: 315px;*/
 width: 97%;
}

#footer { 
 width: 1000px;
 clear: both;
 color: #333;
 border: 1px solid #ccc;
 background-color:#F3F2ED;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

#lg-container{  
    color: #333;
    background:#F6F6F6;
    margin: 100px auto;
    padding: 20px 40px;
    width: 275px;
    background:rgba(255,255,255,.5);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;

    -webkit-box-shadow: 0 0 2px #aaa;
    -moz-box-shadow: 0 0 2px #aaa;
    box-shadow: 0 0 2px #aaa;
}

.lg-container h1{
	font-size:40px;
	text-align:center;
}
#lg-form > div {
	margin:10px 5px;
	padding:5px 0;
}
#lg-form input[type="text"],
#lg-form input[type="password"]{
	border:1px solid rgba(51,51,51,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding: 5px;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	font-family: 'Oleo Script', cursive;
	text-align:center;
}
#lg-form div:nth-child(3) {
	text-align:center;
}
#lg-form button{
	font-family: 'Oleo Script', cursive;
	font-size: 18px;
	border:1px solid #000;
	padding:5px 10px;
	border:1px solid rgba(51,51,51,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	
	-webkit-box-shadow: 2px 1px 1px #aaa;
	-moz-box-shadow: 2px 1px 1px #aaa;
	box-shadow: 2px 1px 1px #aaa;
	cursor:pointer;
}
#lg-form button:active{
	-webkit-box-shadow: 0px 0px 1px #aaa;
	-moz-box-shadow: 0px 0px 1px #aaa;
	box-shadow: 0px 0px 1px #aaa;
}
#lg-form button:hover{
	background:#f4f4f4;
}

