<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"          
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition>

            <h:form>
                <p:growl id="messages" showDetail="false"/>
                <p:menubar styleClass="ui-menubar" id="panelmenu" model="#{loginMBean.model}"  />

            </h:form>

        </ui:composition>
    </body>
</html>


