<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    >
    <ui:decorate template="/pages/template/common/layout/basic-filter-layout.xhtml"/>

    <div class="form-group form-group-sm">
        <h:outputText value="Label Arus Kas" class="col-sm-2 control-label"/>
        <div class="col-sm-10">
            <h:selectOneMenu id="aruskas-label-som" value="#{backBean.selectedArusKasLabel}" class="form-control select2 " style="width: 300px">
                <f:selectItem itemLabel="..."/>
                <f:selectItems value="#{backBean.arusKasLabels}"  var="arLabel" itemLabel="#{arLabel}" itemValue="#{arLabel}"/>
                <f:ajax listener="#{backBean.onFilterChanged()}" event="change" execute="@this" render=":content-form"/>
            </h:selectOneMenu>
        </div>
    </div>

</ui:composition>

