<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    >

    <div class="form-group form-group-sm" >
        <h:outputText value="Pemerintah Daerah" class="col-sm-2 control-label"/>
        <div class="col-sm-10">
            <h:selectOneMenu value="#{backBean.selectedPemda}" class="form-control select2 select2-hidden-accessible" style="width: 300px"
                             converter="omnifaces.SelectItemsConverter" >
                <f:selectItem itemLabel="..." noSelectionOption="true"/>
                <f:selectItems value="#{backBean.pemdas}" var="item" itemValue="#{item}" itemLabel="#{item.namaPemda}"/>
                <f:ajax listener="#{backBean.onFilterChanged()}" event="change" execute="@this" render=":content-form #{backBean.additionalRender}"/>
            </h:selectOneMenu>
        </div>
    </div>

    <div class="form-group form-group-sm">
        <h:outputText value="Tahun Anggaran" class="col-sm-2 control-label"/>
        <div class="col-sm-10">
            <h:selectOneMenu value="#{backBean.selectedYear}" class="form-control" style="width: 100px">
                <f:selectItem itemLabel="..." noSelectionOption="true"/>
                <f:selectItems value="#{backBean.years}"/>
                <f:ajax listener="#{backBean.onFilterChanged()}" event="change" execute="@this" render=":content-form #{backBean.additionalRender}"/>
            </h:selectOneMenu>
        </div>
    </div>

</ui:composition>