<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    >

    <div class="form-group form-group-sm">
        <h:outputText value="SKPD" class="col-sm-2 control-label"/>
        <div class="col-sm-10">
            <h:selectOneMenu id="skpd-label-som" value="#{backBean.selectedSKPD}" class="form-control select2 " style="width: 300px">
                <f:selectItem itemLabel="..."/>
                <f:selectItems value="#{backBean.SKPDs}"  var="skpd" itemLabel="#{skpd}" itemValue="#{skpd}"/>
                <f:ajax listener="#{backBean.onFilterChanged()}" event="change" execute="@this" render=":content-form"/>
            </h:selectOneMenu>
        </div>
    </div>


</ui:composition>