<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="/pages/template/filtered-table-template.xhtml">

        <ui:define name="searchParameterLayout">

            <div class="form-group " >
                <h:outputLabel value="Provinsi" class="col-sm-2 control-label"/>
                <div class="col-sm-10">
                    <h:selectOneMenu class="form-control select2 select2-hidden-accessible" style="margin-bottom: 5px;width: 100px">
                        <f:selectItem itemLabel="..."/>
                        <f:selectItem itemLabel="2011"/>
                        <f:selectItem itemLabel="2012"/>
                    </h:selectOneMenu>
                </div>
            </div>
            <div class="form-group">
                <h:outputLabel value="Tahun Anggaran" class="col-sm-2 control-label"/>
                <div class="col-sm-10">
                    <h:selectOneMenu class="form-control select2 select2-hidden-accessible" style="width: 300px">
                        <f:selectItem itemLabel="..."/>
                        <f:selectItem itemLabel="Provinsi Aceh"/>
                        <f:selectItem itemLabel="Provinsi Jawa Barat"/>
                    </h:selectOneMenu>
                </div>
            </div>

        </ui:define>

        <ui:define name="contentHeader">

        </ui:define>

        <ui:define name="columns">
            <h:column >
                <f:facet name="header" ><h:outputLabel value="Data IKD" class="text-center"/></f:facet>
                <h:outputText value="#{row.name}"/>
            </h:column>
            <h:column >
                <f:facet name="header"><h:outputLabel value="Status" class="text-center"/></f:facet>
                <span class="label label-danger">#{row.status}</span>
            </h:column>
        </ui:define>

    </ui:decorate>

</ui:composition>

