<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html">

    <div class="form-group-sm">
        <h:outputLabel for="tf_kurprog" value="Kode Urusan Program" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:outputText  class="form-control" id="tf_kurprog"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nurprog" value="Nama Urusan Program" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nurprog"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_kurlak" value="Kode Urusan Pelaksana" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_kurlak"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nurlak" value="Nama Urusan Pelaksana" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nurlak"/>
        </div>
    </div>  

    <div class="form-group-sm">
        <h:outputLabel for="tf_kskpd" value="Kode SKPD" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_kskpd"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nskpd" value="Nama SKPD" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nskpd"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_kprog" value="Kode Program" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_kprog"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nprog" value="Nama Program" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nprog"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_kkeg" value="Kode Kegiatan" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_kkeg"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nkeg" value="Nama Kegiatan" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nkeg"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_kfung" value="Kode Fungsi" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_kfung"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nfung" value="Nama Fungsi" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nfung"/>
        </div>
    </div>

</ui:composition>

