<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:pt="http://java.sun.com/jsf/passthrough">

    <ui:decorate template="/pages/template/common/data-header-template.xhtml">
        <ui:define name="dataHeaderContent">
            <div class="form-group-sm">
                <h:outputLabel for="tf_datastat" value="Status Data" class="col-sm-2 control-label"/>
                <div class="col-sm-4">
                    <h:outputText  class="form-control" id="tf_datastat"/>
                </div>
            </div>

            <div class="form-group-sm">
                <h:outputLabel for="tf_perdaNo" value="Nomor Perda" class="col-sm-2 control-label"/>
                <div class="col-sm-4">
                    <h:inputText  class="form-control" id="tf_perdaNo"/>
                </div>
            </div>

            <div class="form-group-sm">
                <h:outputLabel for="tf_tglPerda" value="Tanggal Perda" class="col-sm-2 control-label"/>
                <div class="col-sm-4">
                    <h:inputText  class="form-control" id="tf_tglPerda" pt:placeholder="dd/mm/yyyy"/>
                </div>
            </div>

        </ui:define>
    </ui:decorate>

</ui:composition>

