<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html">

    <div class="form-group-sm">
        <h:outputLabel for="tf_cAccMain" value="Kode Akun Utama" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:outputText  class="form-control" id="tf_cAccMain"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nAccMain" value="Nama Akun Utama" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nAccMain"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_cAccGroup" value="Kode Akun Kelompok" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_cAccGroup"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nAccGroup" value="Nama Akun Kelompok" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nAccGroup"/>
        </div>
    </div>  

    <div class="form-group-sm">
        <h:outputLabel for="tf_cAccType" value="Kode Akun Jenis" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_cAccType"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nAccType" value="Nama Akun Jenis" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nAccType"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_cAccObj" value="Kode Akun Objek" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_cAccObj"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nAccObj" value="Nama Akun Objek" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nAccObj"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_cAccDet" value="Kode Akun Rincian" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_cAccDet"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nAccDet" value="Nama Akun Rincian" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nAccDet"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_cAccSubDet" value="Kode Akun Sub Rincian" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_cAccSubDet"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_nAccSubDet" value="Nama Akun Sub Rincian" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_nAccSubDet"/>
        </div>
    </div>

    <div class="form-group-sm">
        <h:outputLabel for="tf_accValue" value="Nilai" class="col-sm-4 control-label"/>
        <div class="col-sm-8">
            <h:inputText  class="form-control" id="tf_accValue"/>
        </div>
    </div>

</ui:composition>

