<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/template.xhtml">
            <ui:param name="contentTitle" value="Chart Of Account"/>
            <ui:param name="contentSubTitle" value="Struktur Kode Rekening"/>
            <ui:define name="breadcrumb">
                <li class="active">Pengaturan</li>
                <li class="active">Master Setting</li>
                <li class="active">Chart Of Account</li>
            </ui:define>
            <p:separator style="border-color: #dd4b39"/>
            <ui:define name="content">
                <p:scrollPanel id="treescroll" style="width:100%; height:500px; text-align: left;" mode="native">
                        
                        <p:tree id="accounttree" value="#{cashAccountMBean.root}" var="account" style="width:100%; min-height: 490px; font-size: 11px;"
                                     selectionMode="single">

                            <p:ajax event="select" listener="#{cashAccountMBean.onNodeSelected}" 
                                    update="accounttree"/>
                            <p:ajax event="expand" listener="#{cashAccountMBean.onNodeExpanded}"/>
                            <p:ajax event="collapse" listener="#{cashAccountMBean.onNodeCollapsed}"/>
                            
                            <p:treeNode>
                                <h:outputText value="#{account.code} #{account.name}" />
                            </p:treeNode>
                        </p:tree>
                        
                    </p:scrollPanel>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
