<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/template.xhtml">
            <ui:param name="contentTitle" value="Data Pemda"/>
            <ui:param name="contentSubTitle" value="Data Pemda"/>
            <ui:define name="breadcrumb">
                <li class="active">Pengaturan</li>
                <li class="active">Master Setting</li>
                <li class="active">Data Pemda</li>
            </ui:define>
            <p:separator style="border-color: #dd4b39"/>
            <ui:define name="content">
                <center>
                    <h:form id="appform" >
                        <p:growl id="appgrowl" sticky="true" showDetail="true"/>
                        <p:panelGrid columns="2" style="width: 100%; vertical-align: top;" >
                            <h:panelGrid columns="1">
                                <p:scrollPanel id="treescroll" style="width: 400px; height:300px; font-size: 11px;" mode="native">
                                    <p:treeTable id="pemdatree" value="#{dataPemdaMBean.root}" var="wil" style="width:100%"
                                                 selectionMode="single" selection="#{dataPemdaMBean.selectedNode}">

                                        <p:ajax event="select" listener="#{dataPemdaMBean.onNodeSelected}" 
                                                update=":appform:panelinput :appform:cmdpanel"/>
                                        <p:ajax event="expand" listener="#{dataPemdaMBean.onNodeExpanded}"/>
                                        <p:ajax event="collapse" listener="#{dataPemdaMBean.onNodeCollapsed}"/>

                                        <p:column headerText="Kode" width="80px;" >
                                            <h:outputText value="#{wil.kodeProvinsi}.#{wil.kodePemda}" />
                                        </p:column>
                                        <p:column headerText="Kode Satker" width="80px;" >
                                            <h:outputText value="#{wil.kodeSatker}" />
                                        </p:column>
                                        <p:column headerText="Nama Pemda" width="80px;" >
                                            <h:outputText value="#{wil.namaPemda}" />
                                        </p:column>
                                    </p:treeTable>
                                </p:scrollPanel>
                                <h:panelGrid id="cmdpanel" columns="3" style="font-size: 11px;">
                                    <p:commandButton value="tambah" rendered="#{dataPemdaMBean.writeAccess}"
                                                     actionListener="#{dataPemdaMBean.onAdd}" disabled="#{!dataPemdaMBean.add}"
                                                     update=":appform:cmdpanel :appform:panelinput :appform:pemdatree"
                                                     />
                                    <p:commandButton value="ubah" disabled="#{!dataPemdaMBean.editHapus}" 
                                                     rendered="#{dataPemdaMBean.writeAccess}"
                                                     actionListener="#{dataPemdaMBean.onEdit}"
                                                     update=":appform:cmdpanel :appform:panelinput"
                                                     />
                                    <p:commandButton value="hapus" disabled="#{!dataPemdaMBean.editHapus}" 
                                                     rendered="#{dataPemdaMBean.writeAccess}"
                                                     actionListener="#{dataPemdaMBean.onDelete}" 
                                                     update=":appform:cmdpanel :appform:panelinput :appform:pemdatree"
                                                     />
                                </h:panelGrid>
                            </h:panelGrid>
                            <h:panelGrid columns="3" style="font-size: 11px; height: 300px;" id="panelinput">
                                <h:outputLabel value="Kode Provinsi"/>
                                <p:inputText value="#{dataPemdaMBean.selectedPemda.kodeProvinsi}" disabled="#{!dataPemdaMBean.saveCancel}"/>
                                <h:outputLabel value="*"/>
                                <h:outputLabel value="Kode Pemda"/>
                                <p:inputText value="#{dataPemdaMBean.selectedPemda.kodePemda}" disabled="#{!dataPemdaMBean.saveCancel}"/>
                                <h:outputLabel value="*"/>
                                <h:outputLabel value="Kode Satker"/>
                                <p:inputText value="#{dataPemdaMBean.selectedPemda.kodeSatker}" disabled="#{!dataPemdaMBean.saveCancel}"/>
                                <h:outputLabel value="*"/>
                                <h:outputLabel value="Nama"/>
                                <p:inputText value="#{dataPemdaMBean.selectedPemda.namaPemda}" disabled="#{!dataPemdaMBean.saveCancel}"/>
                                <h:outputLabel value="*"/>
                                <h:outputLabel value="Nama Singkat"/>
                                <p:inputText value="#{dataPemdaMBean.selectedPemda.namaSingkatPemda}" disabled="#{!dataPemdaMBean.saveCancel}"/>
                                <h:outputLabel value=""/>
                                <h:outputLabel value="Jenis Pemda"/>
                                <p:selectOneMenu value="#{dataPemdaMBean.selectedPemda.tipePemda}" disabled="#{!dataPemdaMBean.saveCancel}">
                                    <f:selectItems value="#{dataPemdaMBean.jenisPemdas}"/>
                                </p:selectOneMenu>                                
                                <h:outputLabel value="*"/>
                                <h:outputLabel value=""/>
                                <h:outputLabel value=""/>
                                <h:outputLabel value=""/>
                                <p:commandButton value="Simpan" disabled="#{!dataPemdaMBean.saveCancel}" 
                                                 actionListener="#{dataPemdaMBean.onSave}"
                                                 update=":appform:cmdpanel :appform:panelinput :appform:pemdatree"/>
                                <p:commandButton value="Batal" disabled="#{!dataPemdaMBean.saveCancel}" 
                                                 actionListener="#{dataPemdaMBean.onCancel}"
                                                 update=":appform:cmdpanel :appform:panelinput :appform:pemdatree"/>
                            </h:panelGrid>

                        </p:panelGrid>
                    </h:form>

                </center>
            </ui:define>

        </ui:composition>
    </body>
</html>
