<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://java.sun.com/jsf/passthrough"
    >

    <ui:decorate template="/pages/template/input-data-template.xhtml">
        <ui:define name="filter-layout">
            <ui:decorate template="/ManajemenData/InputData/apbd/layout/filter-layout.xhtml">
            </ui:decorate>

        </ui:define>

        <ui:define name="data-layout">
            <ui:decorate template="/ManajemenData/InputData/apbd/layout/data-layout.xhtml">
            </ui:decorate>
        </ui:define>

        <ui:define name="beforeTable">
            <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#dlg-add-kegiatan"><i class="fa fa-edit"></i> Tambah Kegiatan</a>
            <div class="modal fade" id="dlg-add-kegiatan" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><i class="fa fa-plus-square"></i> Tambah Kegiatan</h4>
                        </div>
                        <h:form >
                            <div class="modal-body">
                                <div class="row">
                                    <ui:decorate template="/ManajemenData/InputData/apbd/layout/apbd-form-layout.xhtml"/>
                                </div>
                            </div>
                            <div class="modal-footer clearfix">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>

                                <h:commandButton data-dismiss="modal" value="Simpan" class="btn btn-primary fa fa-save pull-left">
                                    <f:ajax render=":content-form:content-table"  event="click" execute="@form"/>
                                </h:commandButton>
                            </div>
                        </h:form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

        </ui:define>

        <ui:define name="columns">
            <ui:decorate template="/ManajemenData/InputData/apbd/layout/table-layout.xhtml">
            </ui:decorate>
        </ui:define>



    </ui:decorate>

</ui:composition>

