<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>SIKD</title>
    </h:head>
    <h:body>
        <ui:composition template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/template/Layout.xhtml">
            <ui:define name="bottomheader">                
                <h:form id="fLogout">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td><p:outputLabel value="selamat datang " style="color: white"/><p:outputLabel style="font-weight: bold; color: white" value="#{loginMBean.user.userContact.fullName}"/></td>
                            <td align="right"><p:commandLink style="text-align: right; color: white" actionListener="#{loginMBean.logout}" value="logout" /></td>
                        </tr>
                    </table>
                </h:form>
            </ui:define>
            <ui:define name="content">   
                <h1>SIKD</h1>
                <p align="justify">SIKD merupakan sistem penyampaian informasi keuangan daerah secara elektronik oleh Pemerintah Daerah kepada Pemerintah Pusat, sebagaimana diamanatkan dalam UU 33 Tahun 2004 tentang Perimbangan Keuangan antara Pemerintah Pusat dan Pemerintahan Daerah. Pada dasarnya SIKD merupakan pengembangan dari KOMANDAN SIKD yang telah ada saat ini. Namun, dengan adanya perundangan terkini seperti PP Nomor 71 Tahun 2010 tentang Standar Akuntansi Pemerintahan, PP No 45 Tahun 2013 tentang  Tata Cara Pelaksanaan Anggaran Pendapatan dan Belanja Negara, serta Permendagri No 64 Tahun 2013 tentang Penerapan Standar Akuntansi Pemerintahan Berbasis Akrual Pada Pemerintah Daerah. maka KOMANDAN SIKD perlu disempurnakan kembali.</p> 
                <br/>
                <br/>
                <h:form id="fAll">
                <center>
                    <table align="center">
                        <tr>
                            <td> <h:outputText value="Pemerintah Daerah " rendered="#{indexMBean.daerahTampil}" />  </td>
                            <td> <h:outputText value=":" rendered="#{indexMBean.daerahTampil}"/></td>
                            <td> 
                                <p:selectOneMenu filter="true" filterMatchMode="contains" id="combopemdas" value="#{indexMBean.kodeSatker}" 
                                                 panelStyle="font-size:12px; width: 300px;" style="width: 300px" 
                                                 requiredMessage="Silahkan Pilih Pemerintah Daerah"  rendered="#{indexMBean.daerahTampil}">
                                    <f:selectItem itemLabel="Pilih Pemerintah Daerah...." itemValue="" />  
                                    <f:selectItems value="#{indexMBean.daerahs}" var="pemdas" itemLabel="#{pemdas.pemdaName}" itemValue="#{pemdas.satkerCode}" />
                                    <p:ajax process="combopemdas" update="idSKPD headpanel" event="change" listener="#{indexMBean.onYearChange}"/>
                                </p:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td> <h:outputText value="Tahun Anggaran " />   </td>
                            <td> <h:outputText value=" : " />   </td>
                            <td> 
                                <p:selectOneMenu id="comboyear" value="#{indexMBean.selectedYear}" panelStyle="font-size:12px; width: 200px;" style="width: 200px" required="true" requiredMessage="Silahkan Pilih Tahun Anggaran">
                                    <f:selectItem itemLabel="Pilih Tahun Anggaran...." itemValue="" />  
                                    <f:selectItems value="#{utilAppMBean.years}" var="yearsitem" itemLabel="#{yearsitem}" itemValue="#{yearsitem}" />
                                    <p:ajax process="comboyear" update="idSKPD headpanel" event="change" listener="#{indexMBean.onYearChange}"/>
                                </p:selectOneMenu>
                            </td>
                        </tr>
                    </table>
                    <p:separator id="separator" style="width: 900px"/> 
                    <br/>
                <p:panelGrid style="width:80%" id="headpanel">
                            <p:row>                              
                                <p:column style="text-align: center; line-height: 150%;" >
                                    <b>
                                        #{indexMBean.pemdaname} <br/>
                                        NOTIFIKASI <br/>
                                        #{indexMBean.labelYear}<br/>
                                    </b>
                                </p:column> 
                            </p:row>
                        </p:panelGrid>
                <br/>
                <p:dataTable id="idSKPD" var="skpd" value="#{indexMBean.notifications}" style="font-size: 10px;width: 80%;" >

                    <p:columnGroup type="header"> 
                        <p:row>
                            <p:column style="text-align: center;width: 35%;" headerText="Data IKD"/>
                            <p:column style="text-align: center;width: 65%;" headerText="Status"/>
                        </p:row> 
                    </p:columnGroup>

                    <p:column style="text-align: left; #{skpd.style}">
                        #{skpd.code}
                    </p:column>
                    <p:column style="text-align: left; #{skpd.style}">
                        #{skpd.name}
                    </p:column>

                </p:dataTable>
                </center>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

