<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:decorate template="/pages/template/list-template.xhtml">

        <ui:define name="beforeTable">
            <ui:insert name="searchParameterLayout"/>
        </ui:define>

        <ui:define name="tableContent">
            <div class="row">
                <div class="col-md-12">
                    <ui:insert name="contentHeader"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ui:decorate template="/pages/template/table-template.xhtml"/>
                </div>
            </div>
        </ui:define>
    </ui:decorate>

</ui:composition>