<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                >

    <ui:decorate template="/pages/template/template.xhtml">
        <ui:define name="breadcrumb">
            <ui:insert name="breadcrumb"/>
        </ui:define>
        
        <ui:define name="content">
                <ui:insert name="topPage"/>
                <h:panelGroup id="contentPane">
                    <ui:include src="#{backBean.page}"/>
                </h:panelGroup>
                <ui:insert name="bottomPage"/>
        </ui:define>
    </ui:decorate>
</ui:composition>