<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">


    <h:dataTable id="content-table" value="#{backBean.data}" var="row" class="table table-bordered table-responsive table-striped" 
                 headerClass="text-center">
        <ui:insert name="columns"/>
    </h:dataTable>

</ui:composition>