<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>SIKD Core</title>
    </h:head>
    <h:body class="hold-transition skin-red-light sidebar-mini">
        <div class="wrapper">

            <header class="main-header">
                <!-- Logo -->
                <!--<h:commandLink value="Home" action="/index.jsf?faces-redirect=true"/>-->
                <a href="#{request.contextPath}/home.jsf?faces-redirect=true" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>A</b>LT</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">SIKD Core</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" >
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

                            <li class="dropdown messages-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <!--<i class="fa fa-envelope-o"></i>-->
                                    Pesan
                                    <span class="label label-success">4</span>
                                </a>
                            </li>
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <h:graphicImage name="/img/avatar5.png" class="user-image" alt="Users Image"/>
                                    <span class="hidden-xs">Admin</span>
                                </a>

                                <ul class="dropdown-menu">

                                    <li class="user-body">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Profile</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Panduan</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Setting</a>
                                        </div>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            <h:form>
                                                <h:commandLink value="Logout" actionListener="#{loginMBean.logout()}" class="btn btn-default btn-flat"/>
                                            </h:form>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->

                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <h:form class="sidebar-form">

                        <!-- search form -->
                        <div class="input-group">
                            <p:inputText styleClass="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                </span>
                            </p:inputText>
                        </div>
                        <!-- /.search form -->
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu">
                            <li class="header">MAIN NAVIGATION</li>
                            <h:outputText value="#{menuMBean.menuDoc}" escape="false"/>
                        </ul>
                    </h:form>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        #{contentTitle}
                        <small>#{contentSubTitle}</small>
                    </h1>

                    <ol class="breadcrumb">
                        <li><a href="#{request.contextPath}/home.jsf?faces-redirect=true"><i class="fa fa-home"></i>Home</a></li>
                        <ui:insert name="breadcrumb"/>
                    </ol>
                </section>

                <ui:insert name="content"/>

            </div><!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.0.0
                </div>
                <strong>Copyright &copy; 2014-2015 </strong> All rights reserved.
            </footer>

            <!-- Control Sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div><!-- ./wrapper -->

        <!-- fixing twice click on ajax request-->
        <h:outputScript library="omnifaces" name="fixviewstate.js" target="head" />
        <!--app.min.js require jquery ... so load jquery first then app.min.js-->

        <h:outputScript name="/js/jQuery-2.1.4.min.js" target="body" />
        <h:outputScript name="/js/jquery-ui.min.js" target="body" />
        <!--<h:outputScript name="/js/select2.full.min.js" target="body" />-->
        <h:outputScript name="/js/app.min.js" target="body" />
        <h:outputScript name="/js/bootstrap.min.js" target="body" />

        <!--<h:outputStylesheet name="/bsf/css/core.css"/>-->
        <h:outputStylesheet name="/css/font-awesome.min.css"/>
        <h:outputStylesheet name="/css/bootstrap.min.css"/>
        <h:outputStylesheet name="/skin/_all-skins.min.css"/>
        <!--<h:outputStylesheet name="/css/select2.min.css"/>-->
        <h:outputStylesheet name="/css/AdminLTE.min.css"/>
        

    </h:body>
</html>

