<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="row">
        <div class="col-md-4">
            <h:outputLabel value="Nama Group:"/>
        </div>
        <div class="col-md-8">
            <h:inputText value="#{newGroup}" class="form-control sm"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h:outputLabel value="Deskripsi:"/>
        </div>
        <div class="col-md-8">
            <h:inputText value="#{newDescription}" class="form-control sm"/>
        </div>
    </div>

</ui:composition>

