<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="/pages/template/template.xhtml">
        <ui:param name="contentTitle" value="Group"/>
        <ui:param name="contentSubTitle" value="manajemen group"/>
        <ui:define name="breadcrumb">
            <li class="active">Pengaturan</li>
            <li class="active">AdministrasiPengguna</li>
            <li class="active">Group</li>
        </ui:define>

        <ui:define name="content">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <h:form id="appform" >
                            <p:growl id="appgrowl" sticky="true" showDetail="true"/>
                            <p:contextMenu for="grouptree">
                                <p:menuitem value="Tambah User Group" icon="ui-icon-plus" style="font-size: 11px" update=":newgroupform"  
                                            actionListener="#{groupBean.prepareNewGroup}" onclick="PF('dlgNewGroup').show()" disabled="#{!groupBean.writeAccess}"/>
                                <p:menuitem value="Edit User Group" icon="ui-icon-pencil"  style="font-size: 11px" 
                                            onclick="PF('dlgEditGroup').show()" disabled="#{!groupBean.writeAccess}"
                                            update=":editgroupform" actionListener="#{groupBean.prepareForEditingUserGroup}"/>
                                <p:menuitem value="Hapus User Group" icon="ui-icon-close"  style="font-size: 11px" 
                                            update=":delgroupform"
                                            actionListener="#{groupBean.prepareForDeletingUserGroup}"  disabled="#{!groupBean.writeAccess}"
                                            onclick="PF('dlgDelGroup').show()"/>
                                <p:separator/>
                            </p:contextMenu>

                            <p:scrollPanel id="treescroll" style="width:100%; height:300px; font-size: 11px;" mode="native">
                                <p:treeTable id="grouptree" value="#{groupBean.root}" var="gr" style="width:100%"
                                             selectionMode="single" selection="#{groupBean.selectedNode}">

                                    <p:ajax event="select" listener="#{groupBean.onNodeSelected}" 
                                            update="grouptree"/>
                                    <p:ajax event="expand" listener="#{groupBean.onNodeExpanded}"/>
                                    <p:ajax event="collapse" listener="#{groupBean.onNodeCollapsed}"/>

                                    <f:facet name="header">User Group</f:facet>

                                    <p:column headerText="Nama User Group" >
                                        <h:outputText value="#{gr.nama}" />
                                    </p:column>

                                    <p:column headerText="Deskripsi" >
                                        <h:outputText value="#{gr.deskripsi}" />
                                    </p:column>
                                </p:treeTable>

                            </p:scrollPanel>

                        </h:form>

                        <p:dialog id="dlgNewGroup" header="Pembuatan User Group Baru" modal="true"
                                  width="400" height="150" style="font-size: 11px;" widgetVar="dlgNewGroup" resizable="false">
                            <h:form id="newgroupform">
                                <p:growl id="newgroupmsg" sticky="true"  showDetail="true"/>
                                <ui:decorate template="/Pengaturan/AdministrasiPengguna/layout/group-layout.xhtml">
                                    <ui:param name="newGroup" value="#{groupBean.newGroupName}" />
                                    <ui:param name="newDescription" value="#{groupBean.newGroupDescription}" />
                                </ui:decorate>
                                <p/>
                                <div class="row">
                                    <div class="btn-group">
                                        <div class="col-md-12">
                                            <p:commandButton value="Buat User Group" update="newgroupmsg :appform:grouptree" 
                                                             actionListener="#{groupBean.createNewGroup}"
                                                             oncomplete="PF('dlgNewGroup').hide()"
                                                             styleClass="btn btn-primary btn-sm"/>
                                            <p:commandButton value="Batal" onclick="PF('dlgNewGroup').hide()"
                                                             styleClass="btn btn-primary btn-sm"/>
                                        </div>
                                    </div>
                                </div>
                            </h:form>
                        </p:dialog>

                        <p:dialog id="dlgeditgroup" header="Pembaharuan User Group" modal="true" resizable="false"
                                  width="400" height="150"
                                  style="font-size: 11px;" widgetVar="dlgEditGroup" >
                            <h:form id="editgroupform">
                                <p:growl id="editgroupmsg" sticky="true"  showDetail="true"/>
                                <ui:decorate template="/Pengaturan/AdministrasiPengguna/layout/group-layout.xhtml">
                                    <ui:param name="newGroup" value="#{groupBean.newGroupName}" />
                                    <ui:param name="newDescription" value="#{groupBean.newGroupDescription}" />
                                </ui:decorate>
                                <p/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p:commandButton value="Simpan" update="editgroupmsg :appform:grouptree" 
                                                         actionListener="#{groupBean.saveEditedGroup}"
                                                         oncomplete="PF('dlgEditGroup').hide()"
                                                         styleClass="btn btn-sm btn-primary"/>
                                        <p:commandButton value="Batal" onclick="dlgEditGroup.hide()"
                                                         styleClass="btn btn-sm btn-primary"/>
                                    </div>
                                </div>

                            </h:form>
                        </p:dialog>

                        <p:dialog id="dlgdelgroup" header="Menghapus User Group" modal="true" resizable="false"
                                  width="400" height="150"
                                  style="font-size: 11px;" widgetVar="dlgDelGroup" >
                            <h:form id="delgroupform">
                                <p:growl id="delgroupmsg" sticky="true"  showDetail="true"/>
                                <h:panelGrid columns="1">
                                    <h:outputText value="Anda tidak bisa menghapus User Group yang memiliki sub"
                                                  rendered="#{groupBean.nodeHasChild}" />
                                    <h:outputText value="Apakah anda yakin untuk menghapus User Group ?"
                                                  rendered="#{not groupBean.nodeHasChild}" />
                                    <p/>
                                    <p:commandButton value="Tutup" onclick="dlgDelGroup.hide()" 
                                                     rendered="#{groupBean.nodeHasChild}"
                                                     styleClass="btn btn-sm btn-primary"/>
                                    <p/>
                                    <h:panelGrid columns="2" rendered="#{not groupBean.nodeHasChild}" >
                                        <p:commandButton value="Ya" update="delgroupmsg :appform:grouptree" 
                                                         actionListener="#{groupBean.deleteSelectedGroup}"
                                                         oncomplete="PF('dlgDelGroup').hide()"
                                                         styleClass="btn btn-sm btn-primary"/>
                                        <p:commandButton value="Batal" onclick="dlgDelGroup.hide()"
                                                         styleClass="btn btn-sm btn-primary"/>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </h:form>
                        </p:dialog>
                    </div>
                </div>
            </section>
        </ui:define>
    </ui:decorate>
</ui:composition>
