<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="/pages/template/template.xhtml">
        <ui:param name="contentTitle" value="Wilayah Kerja"/>
        <ui:param name="contentSubTitle" value="manajemen wilayah kerja"/>
        <ui:define name="breadcrumb">
            <li class="active">Pengaturan</li>
            <li class="active">Administrasi Pengguna</li>
            <li class="active">Wilayah Kerja</li>
        </ui:define>
        <p:separator style="border-color: #dd4b39"/>
        <ui:define name="content">
            <section class="content">
                <div class="row">
                    <h:form id="appform" >
                        <p:growl id="appgrowl" sticky="true" showDetail="true"/>
                        <div class="col-md-6">
                            <div class="box">
                                <div class="box-header with-border">
                                    Wilayah Kerja
                                </div>
                                <div class="box-body">
                                    <p:treeTable id="wtree" value="#{wilayahKerjaMBean.root}" var="wil" 
                                                 style="width:100%;height: 400px; font-size: 11px"
                                                 selectionMode="single" selection="#{wilayahKerjaMBean.selectedNode}"
                                                 >

                                        <p:ajax event="select" listener="#{wilayahKerjaMBean.onNodeSelected}" 
                                                update="wtree :appform:pemdatree :appform:pemda-detail"/>
                                        <p:ajax event="expand" listener="#{wilayahKerjaMBean.onNodeExpanded}"/>
                                        <p:ajax event="collapse" listener="#{wilayahKerjaMBean.onNodeCollapsed}"/>

                                        <p:column headerText="Wilayah Kerja" >
                                            <h:outputText value="#{wil.nama}" />
                                        </p:column>
                                        <f:facet name="footer">
                                            <p:commandButton value="tambah" rendered="#{wilayahKerjaMBean.writeAccess}"
                                                             actionListener="#{wilayahKerjaMBean.onAdd}" 
                                                             update=":newwilform"
                                                             oncomplete="PF('dlgNewWilayah').show()"
                                                             styleClass="btn btn-sm btn-primary"/>
                                            <p:commandButton value="ubah" disabled="#{!wilayahKerjaMBean.edit}" 
                                                             rendered="#{wilayahKerjaMBean.writeAccess}"
                                                             update=":newwilform"
                                                             actionListener="#{wilayahKerjaMBean.onEdit}" oncomplete="PF('dlgNewWilayah').show()"
                                                             styleClass="btn btn-sm btn-primary"/>
                                            <p:commandButton value="hapus" disabled="#{!wilayahKerjaMBean.hapus}" rendered="#{wilayahKerjaMBean.writeAccess}"
                                                             actionListener="#{wilayahKerjaMBean.onDelete}" update=":appform:wtree :appform:pemdatree" 
                                                             styleClass="btn btn-sm btn-primary"/>
                                        </f:facet>
                                    </p:treeTable>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="box">
                                <div  class="box-header with-border">
                                    <h:outputText id="pemda-detail" value="Daftar pemerintah daerah pada #{wilayahKerjaMBean.selectedWilayah.nama}"/>
                                </div>
                                <div class="box-body">
                                    <p:scrollPanel id="pemdatreescroll" style="width: 100%; height:400px; font-size: 11px;" mode="native">
                                        <p:treeTable id="pemdatree" value="#{wilayahKerjaMBean.pemdaRoot}" 
                                                     var="pr" style="width:100%"
                                                     styleClass="dataTables_filter">
                                            <p:column headerText="Pemda" width="200px;" >
                                                <h:outputText value="#{pr.namaPemda}" />
                                            </p:column>

                                        </p:treeTable>
                                    </p:scrollPanel>
                                </div>
                            </div></div>
                    </h:form>
                </div>

                <p:dialog id="dlgNewWilayah" header="Pembuatan Wilayah Kerja Baru" modal="true"
                          style="width:100%; height: 400px; font-size: 11px;" 
                          widgetVar="dlgNewWilayah" resizable="false">
                    <h:form id="newwilform">
                        <p:growl id="newwilmsg" sticky="true"  showDetail="true"/>
                        <h:panelGrid columns="1">
                            <h:panelGrid columns="3">
                                <h:outputLabel value="Wilayah Kerja"/>
                                <p:inputText value="#{wilayahKerjaMBean.selectedWilayah.nama}"/>
                                <h:outputLabel value="*"/>
                                <h:outputLabel value="Deskripsi"/>
                                <p:inputText value="#{wilayahKerjaMBean.selectedWilayah.deskripsi}"/>
                                <h:outputLabel value=" "/>
                            </h:panelGrid>                                
                            <p:scrollPanel id="addpemdatreescroll" style="width: 320px; height:300px; font-size: 11px;" mode="native">
                                <p:treeTable id="addpemdatree" value="#{wilayahKerjaMBean.addpemdaRoot}" 
                                             var="pr" style="width:100%">
                                    <p:column headerText="Pemda" width="200px;" >
                                        <h:outputText value="#{pr.pemda.namaPemda}" />
                                    </p:column>
                                    <p:column headerText="" width="50px;" >
                                        <p:selectBooleanCheckbox value="#{pr.selected}"/>                                            
                                    </p:column>

                                </p:treeTable>
                            </p:scrollPanel>
                            <h:panelGrid columns="2">
                                <p:commandButton value="Buat Wilayah" 
                                                 actionListener="#{wilayahKerjaMBean.onSave}"
                                                 update=":appform:wtree :appform:pemdatree"
                                                 oncomplete="PF('dlgNewWilayah').hide()"/>
                                <p:commandButton value="Batal" onclick="PF('dlgNewWilayah').hide()"/>
                            </h:panelGrid>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>
            </section>
        </ui:define>
    </ui:decorate>


</ui:composition>
