<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Notifikasi | Session</title>
        <h:outputStylesheet name="login.css" library="css" />
    </h:head>
    <h:body>
        <section class="container">
            <div class="login">
                <h1><br/><br/></h1>
                <img src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/resources/images/error.png" alt="" align="center"/><br/>
                Maaf Session Anda sudah berakhir!
                Silahkan klik link di bawah untuk login kembali
                <h:form>
                    <h:commandLink value="Login"  action="#{loginMBean.goLoginFromNoSession}" />
                </h:form>
            </div>
        </section>
    </h:body>
</html>
